
<div>
    <h1>Registrese en la app de zombies</h1>
    <br>
    <form class="">
        <div class="position-relative form-group">
            <label for="username" class="">username</label>
            <input [(ngModel)]="username" name="username" id="username" placeholder="username" type="username" class="form-control">
        </div>
        <div class="position-relative form-group">
            <label for="name" class="">name</label>
            <input [(ngModel)]="name" name="name" id="name" placeholder="name" type="name" class="form-control">
        </div>
        <div class="position-relative form-group">
            <label for="email" class="">Email</label>
            <input [(ngModel)]="email" name="email" id="email" placeholder="Email" type="email" class="form-control">
        </div>
        <div class="position-relative form-group">
            <label for="password" class="">password</label>
            <input [(ngModel)]="password" name="password" id="password" placeholder="password" type="password" class="form-control">
        </div>
    </form>
    <div class="modal-footer">
        <a href="#/login"><button type="button" class="btn btn-secondary">login</button></a>
        <button type="button" class="btn btn-primary" (click)="registrar()" >registrarse</button>
    </div>
</div>


